.App {
    font-family: sans-serif;
    text-align: center;
}
.wrapper {
    position: absolute;
    top: 0;
    width: 100%;
}

.toast {
    transition: right 500ms linear, opacity 1000ms, top 500ms;
    position: absolute;
    background-color: greenyellow;
    padding: 8px;
    margin: 35px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.entering {
    right: -300px;
    opacity: 0;
}

.exiting {
    right: -300px;
    opacity: 0;
}

.entered {
right: 0;
opacity: 1;
}