.toast-wrapper {
    position: relative;
    width: calc(100% - 10px);
}

.add-btn {
    background-color: #00cccc;
    color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    &:active {
        background-color: #00aaaa;
    }
}

.toast {
    transition: right 500ms linear, opacity 1000ms, top 500ms;
    &.entering {
        right: -300px;
        opacity: 0;
    }
    &.exiting {
        right: -300px;
        opacity: 0;
    }
    &.entered {
        right: 0;
        opacity: 1;
    }
}

.toast {
    max-width: 330px;
    color:#333333;
    white-space: nowrap;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    &.simple {
        background-color: #66ff99;
    }
    .name {
        font-style: italic;
        font-weight: bolder;
    }
}
